<section>
  <div class="container" [ngClass]="{reminder: todo.check}">
    <label>{{todo.task}}</label>
    <div class="tarefa">
      <label>{{todo.date}}</label>
      <p>{{todo.time}}</p>
    </div>
    <div class="botoes">
      <div
        class="radio"
        (click)="onToggle(todo)"
        [ngClass]="{reminder: todo.check}">
        <img src="ok-image.png" alt="" *ngIf="todo.check">
      </div>
      <button (click)="onDelete(todo)" class="remove">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
</section>
