.phone{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
  padding-left: 20px;
}
.call{
  margin-right: 10px;
  text-align: center;
}
.phone h1{
  font-size: medium;
}
.phone p{
  font-size: smaller;
  color: #818181;
}
