<header>
  <mat-icon onclick="window.history.back()">arrow_back_ios</mat-icon>
  <h1>Adicionar medicamento</h1>
</header>
<main>
  <form (ngSubmit)="onSubmit()">
    <section>
      <input type="text" placeholder="Nome do medicamento" [(ngModel)]="remedio" name="titulo">
      <div class="horario">
        <input type="number" placeholder="Hora" [(ngModel)]="hora" name="hora" (input)="atualizarHorario()">
        <input type="number" placeholder="Minuto" [(ngModel)]="minuto" name="minuto" (input)="atualizarHorario()">
        <button type="button" (click)="alternarAmPm(); atualizarHorario()">{{ periodo }}</button>
      </div>
      <input type="text" [(ngModel)]="estoque" placeholder="Estoque" name="estoque">
      <input type="text" [(ngModel)]="quantia" placeholder="Dosagem (ML)" name="quantia">
      <div class="descricao">
        <h1>Observação</h1>
        <input type="text" [(ngModel)]="observacao" placeholder="Digite aqui..." name="observacao">
      </div>
      <button type="submit" class="concluir" onclick="window.history.back()">Adicionar medicamento</button>
    </section>
  </form>
</main>
