<app-navbar></app-navbar>
<main>
  <header>
    <h1>Atividades</h1>
  </header>
  <app-calendar></app-calendar>
  <button class="add-evento" routerLink="/addcalendar">
    <h1>Criar evento (Calendário)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>
  <button class="add-to-do" routerLink="/addtasks">
    <h1>Adicionar tafera (To-do)</h1>
    <mat-icon>add_circle</mat-icon>
  </button>
  <div class="todo">
    <h1>Tarefas</h1>
    <div>
      <app-addtasks (onAddTodo)="addTodo($event)" ></app-addtasks>
      <app-todo
      *ngFor="let todo of todos"
      [todo]="todo"
      (onDeleteTodo)="deleteTodo($event)"
      (onToggleConcluido)="toggleConcluido($event)"
      >
      </app-todo>
    </div>
  </div>
</main>
