body{
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: -65px;
  min-height: 600px;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 20px;
  margin-bottom: 5px;
}

h2{
  font-size: 15px;
  margin-left: 5px;
}


p{
  font-size: 15px;
}

.checkbox{
  margin-bottom: 20px;
}

.top{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top img{
  margin-top: 20px;
}

.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 930px;
}

.input-button{
  display: flex;
  justify-content: center;
  }

.input-button{
  width: 191px;
  height: 29px;
  background: #D6C8E1;
  border-radius: 3px;
  outline: none;
  border: none;
  margin-top: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
}

.input-botao button{
  width: 271px;
  height: 48px;
  background-color: #D6C8E1;
  border-radius: 60px;
  font-size: 20px;
  margin-top: 10px;
}

.form{
  padding: 35px;
}

.form p{
  margin-bottom: 10px;
  font-size: medium;
}

.form .input-botao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divisor{
  margin-bottom: 20px;
}

.form .input-group{
  margin-bottom: 20px;
  border-bottom: 3px solid #704D97;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  cursor: text;
}

.form .input-group input{
 border: none;
 background-color: transparent;
}

.form .input-group input:focus{
outline: none;
}

.gridcheck{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.radio{
  width: 20px;
  height: 20px;
  border: 3px solid #D6C8E1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio img{
  width: 80%;
  height: 60%;
}

@media (max-width:930px) {

  .box{
      width: 700px;
  }
  .form-box{
      width: 100%;
      border-radius: 20px;
  }
}
@media (max-width:500px) {
  .w50{
      width: 100%;
      padding: 0;
  }
}
