<header>
  <mat-icon onclick="window.history.back()">arrow_back_ios</mat-icon>
  <h1>Medicamentos - Ficha</h1>
</header>
<section *ngIf="remedio; else notFound">
  <div>
    <h2>Nome:</h2>
    <h2>{{remedio.titulo}}</h2>
  </div>
  <div>
    <h2>Horario:</h2>
    <h2>{{remedio.horario}}</h2>
  </div>
  <div>
    <h2>Estoque:</h2>
    <h2>{{remedio.estoque}}</h2>
  </div>
  <div>
    <h2>Dosagem:</h2>
    <h2>{{remedio.quantia}}ML</h2>
  </div>
  <h3>Observação</h3>
  <div class="observacao">
    <p>{{remedio.observacao}}</p>
  </div>
  <div class="excluir" (click)="deleteRemedy()">
    <h4>Deletar</h4>
  </div>
</section>

<ng-template #notFound>
  <h2>Remédio não encontrado</h2>
</ng-template>
