<header>
  <mat-icon onclick="window.history.back()">arrow_back_ios</mat-icon>
  <h1>Desejo</h1>
</header>
<section *ngIf="desejo; else notFound">
  <div>
    <h2>Nome:</h2>
    <h2>{{desejo.titulo}}</h2>
  </div>
  <div>
    <h2>Como realizar:</h2>
    <h2>{{desejo.realizar}}</h2>
  </div>
  <h3>Observação</h3>
  <div class="observacao">
    <p>{{desejo.observacao}}</p>
  </div>
  <div class="excluir" (click)="deleteWish()">
    <h4>Deletar</h4>
  </div>
</section>

<ng-template #notFound>
  <h2>Desejo não encontrado</h2>
</ng-template>
